---
// This component just outputs the HTML for our animated background.
// The CSS that styles it is imported globally by the pages that use it.
---
<div class="stars"></div>
<div class="twinkling"></div>
<div class="night">
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
</div>
